/* Arquivo CSS do trabalho */

header{
    background: #708090 ; 
    padding: 20px 0; 
    height: 180px;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #CCCCCC;
}

.caixa{ 
    position: relative;
    width: 940px;
    margin: 0 auto; 
}

.logo{
    width: 25%;
}

nav{
    position: absolute; 
    top: 100px; 
    right: 25%;
}

.auth{
    position: absolute; 
    top:100px; 
    left: 90%;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}
.user{
    position: absolute; 
    top:87px; 
    left: 95%;
}

nav li{
    display: inline;  
    margin: 0 0 0 15px ; 
}

nav a{ 
    text-transform: uppercase;  
    color: #000000 ; 
    font-weight:bold ; 
    font-size: 22px; 
    text-decoration: none; 
}

nav a:hover { 
    color: #C78C19;
    text-decoration: underline; 
}



.titulo-principal{
    text-align: center;
    font-size: 2em; 
    margin: 0 0 1em; 
    clear: left; 
}

.banner{
    width: 100%;
}

.mapa{
    padding: 3em 0; 
}

.mapa p{ 
    margin-bottom: 2em;
    text-align: center;
}

main{ 
    width: 940px;
    margin: 0 auto;
}

form{
    margin: 40px 0 ;   
}

form label{ 
    display: block;
    font-size: 20px;
    margin:0 0 10px; 
}

.input-padrao{
    display: block;
    margin: 0 0 20px; 
    padding:10px 25px;
    width:50%; 
}

.mapa{
    text-align: center;
}

.enviar{  
    width: 40%; 
    padding: 15px 0; 
    background: orange;
    color: white; 
    font-weight: bold; 
    font-size: 18px;
    border: none; 
    border-radius: 5px; 
}

/* pagina produtos */
.produtos{ 
    width: 940px;
    margin: 0 auto;
    padding: 50px 0; 
}

.produtos li{ 
    display: inline-block; 
    text-align: center;
    width: 30%; 
    margin: 20px 1.5%;  
    vertical-align: top; 
    padding: 30px 20px; 
    box-sizing:border-box ; 
    border-color: #000000 ; 
    border-width: 2px ; 
    border-style: solid ; 
    border-radius: 10px;
}

.produtos li:hover{   
    border-color: #C78C19;
}
 

.produtos li:active {  
    border-color: #088C19;
}

.produtos h2{
    font-size: 30px; 
    font-weight: bold; 
}

.produto-descricao{
    font-size: 18px;
}

.produto-preco{
    font-size: 22px;
    font-weight: bold;
    margin-top: 10px; 
}

.marca{
    text-decoration: underline;
}

footer{
    text-align: center;
    background: #708090; 
    padding: 40px 0;   
    height: 180px;
}

.copyright{
    color: #FFFFFF;
    font-size: 13px;
    margin-top: 20px; 
}

.participantes{
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
}


